<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/CSS/style2.css">
    <title>Borrow</title>
</head>
<body>
    <%- include('./partials/nav') %> 
    <div class="container  mt-4">
        <form action="/book/borrow/<%= book._id %>" method="post">
            <div class="mb-3">
                <label for="fullName" class="form-label">Full Name</label>
                <input type="fullName" class="form-control"
                name="fullName"
                id="fullName">
              </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" 
              name="email"
              aria-describedby="email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control"
              name="password"
              id="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <%- include('./partials/scripts') %>
</body>
</html>