<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Home Page</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <%- include('./partials/scripts') %>
    <main class="books">
        <div class="square">
            <img src="/5am.jpg">
            <div class="content">
                <div class="action_btn">Borrow</div>
            </div>
        </div>
        <div class="square">
            <img src="/rich_dad.jpg">
            <div class="content">
                <div class="action_btn">Borrow</div>
            </div>
        </div>
        <div class="square"><img src="/meditations.jpg">
            <div class="content">
                <div class="action_btn">Borrow</div>
            </div></div>
        <div class="square"><img src="/psychology.jpg">
            <div class="content">
                <div class="action_btn">Borrow</div>
            </div></div>
        <div class="square"><img src="/when.jpg">
            <div class="content">
                <div class="action_btn">Borrow</div>
            </div></div>
        <div class="square"><img src="/5am.jpg">
            <div class="content">
                <div class="action_btn">Borrow</div>
            </div></div>
        <div class="square"><img src="/do.jpg">
            <div class="content">
                <div class="action_btn">Borrow</div>
            </div></div>
        <div class="square"><img src="/hunt.jpg">
            <div class="content">
                <div class="action_btn">Borrow</div>
            </div></div>
        <div class="square"><img src="/juju.jpg">
            <div class="content">
                <div class="action_btn">Borrow</div>
            </div></div>
        <div class="square"><img src="/naruto.jpg">
            <div class="content">
                <div class="action_btn">Borrow</div>
            </div></div>
        <div class="square"><img src="/forest.jpg">
            <div class="content">
                <div class="action_btn">Borrow</div>
            </div></div>
        <div class="square"><img src="/harry.jpg">
            <div class="content">
                <div class="action_btn">Borrow</div>
            </div></div>
</main>
</body>
</html>