body{
    height: 100vh;
    background-color: #000;
    background-image: url('../background_img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.card {
    height: 550px;
    width: 100px;
}

.container {
    margin-left: 300px;
}

.card-body{
    background-color: rgba(0, 0, 0, 0.756);
    color: whitesmoke;
}